// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.big{
  font-size: 43px;
  line-height: 75px;
}
.keyboard{
  border-style:solid;
  border-width:0px;
  border-radius:5px;
  box-shadow: 5px 5px 5px #333;
  text-decoration:none;
  padding:5px 15px;
  color:white;
  background-color:black;
}
a.keyboard {
  color: #fff;
  &:visited {
    color: #fff;
  } 
  &:hover {
    color: #fff;
    background-color: #000;
  }
} 
.display{
  font-size: 73px;
  line-height: 95px;
  border-style:solid;
  border-width:3px;
  color:blue;
  background-color:rgba(255,255,0,0.7);
}
.status_bar{
  background-color:rgba(255,255,255,0.5);
  border-style:solid;
  border-width:1px;
  border-radius:5px;
  padding:5px 15px;
  box-shadow: 5px 5px 5px #000;
}
.guess{
  background-image:url("/assets/baby.jpeg");
  background-repeat:no-repeat;
  background-size:100%;
  background-position:center;
}
#gallows_pole{
  width:110px;
}
#main{
  background-color:white;
}
